<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Conservatorio.UI.Properties.Settings.ConservatorioConnString" connectionString="Data Source=(local);Initial Catalog=ConservatorioNHibernate;Persist Security Info=True;User ID=ConserUser;Password=ConserUser" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="imagesFolder" value="\\localhost\Imagenes"/>
    <add key="imagesFolderNetwork" value="localhost"/>
    <add key="imagesFolderUser" value="Gaby"/>
    <add key="imagesFolderPassword" value="Yokokurama"/>
    
    <add key="cantidadPeriodos" value="2"/>
    <add key="notaMinima" value="70"/>
    <add key="diasParaMatricular" value="20"/>
  </appSettings>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
